/* Member */

li span.icon.major.img {
	margin-bottom: 1em;
}

li span.icon.major.img a {
	border-bottom: none;
}

.features li > * {
	-moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
	-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
	-ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
	transition: transform 0.5s ease, opacity 0.5s ease;
	transition-delay: 0.25s;
}

.features li span.icon.major.img {
	-moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
	-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
	-ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
	transition: transform 0.5s ease, opacity 0.5s ease;
}

body.is-loading .features li > * {
	opacity: 0;
}

body.is-loading .features li span.icon.major.img {
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0;
}

body:not(.is-touch) .features li span.icon.major.img:hover {
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
}
